body {
    font-size: 18px;
}

.t-space{
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.t-space-container{
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}