<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WanderDesk</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        
        <h1><img src="/static/logo.svg" alt="houseLogo" class="logo">WanderDesk</h1>
        <h3> Wander, Work, Welcome Home.</h3>
        <div class="center">

                <a class="button-50" style="text-decoration:none" href="/login">Login</a>
                <a class="button-50" style="text-decoration:none" href="/signup">Signup</a>
        
        </div>
    </body>
</html>
