<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css">
    
<head>
    <!--positioning and styling-->
    <title>Login | WanderDesk</title>
</head>
<body>
    <h1>Login to WanderDesk.</h1>
        
        <img src="/static/logo.svg" alt="houseLogo" class="logo">
        
        <!-- Form to collect address and password details  -->
        <form action="/login" method="POST">
            {% if errors %}
            <p class="errors"> Details are incorrect. Try again!</p>
            {% endif %}
            <p>
                <input class="field" type="text" id="username" name="username" placeholder="username">
            </p>
            <p>
                <input class="field" type="password" id="password" name="password" placeholder="password" required>
            </p>
            <!-- button to submit username and password  -->
            <input class="button-50" type="submit" value="LOGIN">
        </form>
        <div class="center">
            <a class="button-50" style="text-decoration:none" href="/"><</a>
        </div>

        <!-- errors generated when login not valid -->

</body>
</html>
