<!DOCTYPE html>
<html lang="en">
    <title>Your requests | WanderDesk</title>
<head>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <ul>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/requests">Requests</a></li>
        <li><a href="/spaces">Spaces</a></li>
    </ul>
    <br>
    <br>
    <br>
    <h1>Requests.</h1>
    <hr>

    <form action="/load_request" method="POST">
    <p>Your requests {{ session.get("username") }}</p>

    <div>

        <!-- requests made -->
        <div class="col">
        <h3>Requests I've made:</h3>
                {% for request in requests %}
                <div >
                    <button class="request-card" type="submit" name="request_id" value="{{ request.id }}">
                    <h2>{{ (space_repo.search_by_id(request.space_id)).name }}</h2>
                    <p>{{request.requested_date}}</p>
                    {% if request.status %}
                    <p>Accepted</p> 
                    {% else %}
                    <p>Not accepted yet</p>
                    {% endif %}
                    </button>
                </div>
                {% endfor %}
        </div>
        </form>
        
        <form action="/load_owner_request" method="POST">
        <!-- requests recieved -->
        <div class="col">
        <h3>Requests I've recieved:</h3>
                {% for owner_request in owner_requests %}
                <div>
                    <button class="request-card" type="submit" name="owner_request_id" value="{{ owner_request.id }}">
                    <h2>{{ (space_repo.search_by_id(owner_request.space_id)).name }}</h2>
                    <p>{{owner_request.requested_date}}</p>
                    <p>{% if owner_request.status %}</p>
                    <p>Accepted</p> 
                    {% else %}
                    <p>Not accepted yet</p>
                    {% endif %}
                    </button>
                </div>
                {% endfor %}
        </form>

    </div>
</div>

    <div class="back-button">
        <br>
        <a href="/spaces">
            <img src="/static/icons8-back-arrow-50.png" width="40px" alt="button go back to previous page">
        </a>
    </div>

</body>
</html>
