<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css" >
    <head>
        <title>Request Handling</title>
       
    </head>
    <body>
        <ul>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/requests">Requests</a></li>
            <li><a href="/spaces">Spaces</a></li>
        </ul>
        <br>
        <h1>{{ name }}</h1>
        <div>
            <p>User {{ user }} requested to book 2 weeks from {{ date }}</p>
            <p>
            <input class="button-50" type="submit" value="Approve">
            </p>
        </div>
    </body>
</html>