<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup | WanderDesk</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Signup to WanderDesk</h1>
        <form action="/signup" method="POST">
            <!-- showing errors if there are any in the list -->
            {% if errors %}
            <p class="t-errors">
            <b>There were errors with your submission:</b><br>
            <!-- iterate through errors to display one error per line -->
            {% for error in errors %}
            {{ error }}<br>
            {% endfor %}
            </p>
            {% endif %}
        <h2>{{ message }}</h2>
        <p>
            <input class="field" type="text" name="name" id="name" placeholder="name">
        </p>

        <p>
            <input class="field" type="text" name="username" id="username" placeholder="username">
        </p>

        <p>
            <input class="field" type="text" name="email" id="email" placeholder="email">
        </p>
        
        <p>
            <input class="field" type="password" name="password" id="password" placeholder="password">
        </p>
      
      <p>
        <!-- `type` is submit here, to indicate it is a button -->
        <!-- `value` is used as the button's text -->
        <input class="button-50" type="submit" value="SIGNUP">
      </p>
        </form>
        <div class="center">
            <a class="button-50" style="text-decoration:none" href="/"><</a>
        </div>
    </body>
</html>