<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View space | MakersBnB</title>
        <style>
            .logout-button {
            position: absolute;
            top: 10px;  
            right: 10px; 
            padding: 5px 10px; 
        }
        </style>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div class="logout-button">
            <a href="/logout">Log Out</a>
        <h1>{{ space.name }}</h1>
        <p class="price">Price per night: £{{ space.price }}</p>
        <p class="description">{{ space.description }}</p>
        
        <form action="{{ url }}" method="POST">
            <!-- user selects available date to book a space -->
            <select name="booking_date" id="booking_date">
                
                {% for date in calendar %}
                <!-- safe tells htm to not escape values as it's html code -->
                {{ date|safe }}<br>
                {% endfor %}
            </select>
            <input type="submit" value="Send a booking request">
            <p class="message">
                {% if message %}
                {{ message }}
                {% endif %}
            </p>
        </form>
    </body>
</html>