<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/style.css" >
    <head>
        <title>WanderDesk</title>
    </head>
    <body>
        <ul>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/requests">Requests</a></li>
            <li><a href="/spaces">Spaces</a></li>
        </ul>
        <br>
        <h1 style="margin-top: 100px;">Hello Wanderer.</h1>
        <p class="text-block">Welcome to WanderDesk Stays – the ultimate haven for digital nomads working around the world. Unleash your nomadic spirit, find your perfect workspace, and make every stay a global adventure. Your journey as a digital nomad begins here, where work meets wanderlust and every destination feels like home.</p>
            <p>
            <a class="button-50" style="text-decoration:none" href = "/spaces/new">LIST A SPACE</a>
            </p>
            <br>
            <br>

            <div class="space-list">

            {% for space in spaces %}
            <div class="t-space-container">

                <div class="col">
                    <h2>{{space.name}}.</h3>
                    <p>{{space.description}}</p>
                    <p> <img src="/static/space.png" class="icon"> It's a {{space.space_type}}</p>

                    {% if not space.wifi %}
                    <p><img class="icon" src="/static/wifi.png" alt="wifi logo">No WiFi available</p>
                    {% endif %}

                    {% if space.wifi %}
                    <p><img class="icon" src="/static/wifi.png" alt="wifi logo"> Fast WiFi available</p>
                    {% endif %}

                    {% if space.office %}
                    <p><img class="icon" src="/static/desk.png" alt="desk logo">Office space available</p>
                    {% endif %}

                    {% if not space.office %}
                    <p><img class="icon" src="/static/desk.png" alt="desk logo">No office space available</p>
                    {% endif %}


                    <p><img class="icon" src="/static/toilet.png" alt="toilet logo">Bathroom is {{space.bathroom}}</p>
                    <br>
                    <br>
                    <a class="button-50" style="text-decoration:none" href="/spaces/{{space.id}}">BOOK NOW</a>
            </div>

            <div class="col">
                <!-- display photos -->
                    {% for photo in space.photos%}
                        <div class="space-photo">
                            <img src="/static/uploads/{{photo}}"/>
                        </div>
                    {% endfor %}
            </div>
                
        </div>
            {% endfor %}

            </div>
    </body>
</html>